<!-- Nav bars -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <a class="navbar-brand" href="/">

      <strong>TIMEOFF</strong>@FITZ
    </a>
    {{# if logged_user }}
    <li class="navbar-form ">
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#book_leave_modal" id="book_time_off_btn">New leave request</button>
    </li>
    <li class="nav-item"><a class="nav-link" href="/requests/">Requests</a></li>
    <li class="nav-item"><a class="nav-link" href="/calendar/">Calendar</a></li>
    <li class="nav-item"><a class="nav-link" href="/calendar/teamview/">Team View</a></li>
    {{# if logged_user.admin }}
    <li class="nav-item"><a class="nav-link" href="/users/">Employees</a></li>
    {{/if}}

    {{/if}}

    {{# if logged_user }}
    {{# if logged_user.admin }}

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Settings <span class="fa fa-gears"></span> <span class="caret"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/settings/general/">General</a>
      <a class="dropdown-item" href="/settings/departments/">Departments</a>
      <a class="dropdown-item" href="/settings/company/integration-api/">API configuration</a>
      <a class="dropdown-item" href="/users/import/">Import employees</a>
      <a class="dropdown-item" href="/audit/email/">Emails audit</a>
      <a class="dropdown-item" href="/reports/">Reports</a>

    </div>
  </li>

  {{/if}}
  <li class="nav-item"><a class="nav-link" href="/logout/">Logout</a></li>

  {{else}}
  <li class="nav-item"><a class="nav-link"  href="/login/">Login</a></li>
  {{/if}}
  <li class="nav-item"><a class="nav-link" href="https://intranet.fitzmuseum.cam.ac.uk">Intranet</a></li>

</ul>
{{# if logged_user }}
{{# if logged_user.company.company_wide_message  }}
<div class="alert alert-danger" role="alert">{{ logged_user.company.company_wide_message }}</div>
{{/if}}
{{/if}}
</div>
</nav>
<div class="jumbotron jumbotron-fluid mb-5 doc-jumbotron head">
  <div class="container">
    <div class="row ">
      <div class="col-lg-12 col-xl-12 ">
        <a href="https://www.fitzmuseum.cam.ac.uk"><img src="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/fv-logo-white.svg" class="align-self-center mr-3 float-left thumb-post  p-3 " width="300"></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
