
{{# each grouped_leaves}}
  <h2>{{this.year}}</h2>
  {{> user_requests leaves=this.leaves no_header=1 logged_user=../logged_user}}
  <p class="text-danger">
    <strong>
      Days deducted from allowance: <span>{{ this.total_deduction }}</span>
    </strong>
  </p>
{{/ each}}
