Reset password for annual leave portal
=====
{{# with user ~}}
<p>Hello <strong>{{this.name}}</strong>,</p>

<p>Your password for {{> email/link href=(get_application_domain) text='annual leave' }} was successfully changed.</p>

{{~/ with }}

<p>Thanks</p>
