
{{> header }}

<h1>Reports</h1>

<div class="row col-12 shadow-sm p-3 mx-auto mb-3 bg-white">

  <div class="col-md-6 lead">List of available reports</div>
</div>

{{> show_flash_messages }}



<div class="row col-12 shadow-sm p-3 mx-auto mb-3 bg-white">

    <div class="well well-lg text-center">
      <a class="btn  btn-primary btn" href="/reports/allowancebytime/">Allowance usage by time <i class="fa fa-chevron-right"></i></a>
    </div>
</div>

{{> footer }}
